{% extends 'cars/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

	<div class="container pt-5">
		<div class="row">
			<div class="col d-flex flex-column align-items-center">
				<div class="row w-100 justify-content-md-center">
					{% for car in cars %}
						<div class="col col-md-3">
							<div class="card m-2">
								<div class="card-body">
									<h5 class="card-title text-center">
										<a href="{% url 'cars:car_details' car.id %}">{{ car }}</a>
									</h5>
									<p class="card-text text-center">
										<small>Model year: {{ car.year }}</small>
									</p>
									<p class="card-text text-center">
										<small>Mileage: {{ car.mileage }} km</small>
									</p>
									<div class="d-flex justify-content-between">
										<form method="POST" action="{% url "cars:update_car" car.id %}">
											{% csrf_token %}
												<input type="submit" value="Edit" class="btn
												btn-primary btn-sm">
										</form>
										<form method="POST" action="{% url "cars:delete_car" car.id %}">
											{% csrf_token %}
											<input type="submit" value="Delete" class="btn
											btn-primary btn-sm">
										</form>
									</div>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
				<div class="pt-3">
					<h4>Add new car:</h4>
					<form method="POST" action="{% url 'cars:add_car' %}">
						{% csrf_token %}
						{{ form|crispy }}
						<button type="submit" class="btn btn-primary w-100">Add</button>
					</form>
				</div>
			</div>
		</div>
	</div>

{% endblock %}