{% extends 'cars/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

	<div class="container pt-5">
		<div class="row">
			<div class="col d-flex flex-column justify-content-center align-items-center">
				<h4 class="d-inline-block py-4">Update {{ car }} details:</h4>
				<form action="{% url 'cars:update_car' car.id %}" method="POST"
				      style="display:
    inline">
					{% csrf_token %}
					{{ form|crispy }}
					<button type="submit" class="btn btn-primary">Update</button>
				</form>
			</div>
		</div>
	</div>
{% endblock %}