{% extends 'cars/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
	<div class="container pt-5">
		<div class="row">
			<div class="col">
			<h4>Overview of {{ car }}</h4>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="card text-center">
					<div class="card-header">
						Fillups
					</div>
					<div class="card-body">
{#						<h5 class="card-title">Recent</h5>#}
						<p class="card-text">
							Last fillup:
							{% if fillups %}
								{{ fillups.date|date:"D d M Y" }}
							{% else %}
								-- No fillups yet --
							{% endif %}
						</p>
						<a href="{% url 'cars:fillups:list' car.id %}"
						   class="btn btn-primary btn-sm">Check fillups</a>
					</div>
					<div class="card-footer text-muted">
						Last update: 2 days ago
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card text-center">
					<div class="card-header">
						Repairs
					</div>
					<div class="card-body">
{#						<h5 class="card-title">Recent</h5>#}
						<p class="card-text">Last repair: -- No repair yet --</p>
						<a href="#" class="btn btn-primary btn-sm">Check repairs</a>
					</div>
					<div class="card-footer text-muted">
						Last update: 2 days ago
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}