{% extends 'cars/base.html' %}

{% block content %}
	<div class="container height-excl-navbar d-flex justify-content-center align-items-center">
		<div class="row d-flex justify-content-center align-items-center">
			<div class="col d-flex flex-column justify-content-center align-items-center">

				<h1>---------Car App-------------</h1>
				<h2>---------Welcome!!-------------</h2>
			</div>
		</div>
	</div>
{% endblock %}