{% extends 'cars/base.html' %}

{% block content %}
	<div class="container height-excl-navbar d-flex justify-content-center align-items-center">
		<div class="row d-flex justify-content-center align-items-center">
			<div class="col d-flex justify-content-center align-items-center">
				<div class="user_card">
					<div class="d-flex justify-content-center">
						<h3 id="form-title">Log In</h3>
					</div>
					<div class="d-flex justify-content-center form_container">
						<form method="POST" action="">{% csrf_token %}
							<div class="input-group mb-2">
								<div class="input-group-append">
										<span class="input-group-text">
											<i class="fa fa-envelope"></i>
										</span>
								</div>
								{{ form.email }}
							</div>
							<div>
								{{ form.email.errors }}
							</div>
							<div class="input-group mb-2">
								<div class="input-group-append">
										<span class="input-group-text">
											<i class="fa fa-key"></i>
										</span>
								</div>
								{{ form.password }}
							</div>
							<div>
								{{ form.password.errors }}
							</div>
							<div class="d-flex justify-content-center mt-3 login_container">
								<input class="btn login_btn" type="submit" value="Login">
							</div>
						</form>
					</div>
					<div class="d-block justify-content-center" style="height: 30px">
						{% for message in messages %}
							<p class="pt-3 m-0 text-center">{{ message }}</p>
						{% endfor %}
					</div>

					<div class="mt-4">
						<div class="d-flex justify-content-center links">
							Don't have an account?
							<a href="{% url 'register' %}" class="ml-2 text-white">Sign Up</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}