<!DOCTYPE html>
<html lang="en">
<head>

	{% include 'cars/head.html' %}

</head>
<body style="height: 100vh;">

{% include 'cars/navbar.html' %}


{% block content %}

{% endblock %}


</body>
</html>