{% load static %}

<meta charset="UTF-8">
<title>Car spendings</title>

<link rel="stylesheet" href="{% static 'cars/css/bootstrap-grid.css' %}">
<link rel="stylesheet" href="{% static 'cars/css/custom_bootstrap_theme.css' %}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'cars/css/styles.css' %}">
