{% load static %}

<div class="container navbar-container-height">
	<div class="row h-100">
		<div class="col mx-auto h-100">
			<nav class="navbar navbar-expand-lg navbar-light bg-primary h-100">
				<a class="navbar-brand" href="{% url 'index' %}">Car Costs Logo</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse"
				        data-target="#navbarSupportedContent"
				        aria-controls="navbarSupportedContent" aria-expanded="false"
				        aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav d-flex w-100 align-items-center">
						<li class="nav-item active">
							<a class="nav-link" href="{% url 'index' %}">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'cars:list' %}">Cars list</a>
						</li>
						<li class="nav-item ml-auto">
							{% if request.user.is_authenticated %}
								<span class="d-inline-block">User: {{ request.user }}</span>
								<a class="nav-link d-inline-block" href="{% url 'logout' %}">Logout</a>
							{% else %}
								<a class="nav-link d-inline-block" href="{% url 'register' %}">Sign
									Up</a>
								<a class="nav-link d-inline-block" href="{% url 'login' %}">Login</a>
							{% endif %}
						</li>
					</ul>
				</div>
			</nav>

		</div>
	</div>
</div>