{% extends 'Cars/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

	<div class="container pt-5">
		<div class="row">
			<div class="col d-flex flex-column justify-content-center align-items-center">
				<h4 class="d-inline-block py-4">Update fillup details for {{ car }}</h4>
				<form action="{% url 'cars:fillups:update_fillup' car.id fillup.id %}"
				      method="POST" style="display: inline">
					{% csrf_token %}
					{{ form|crispy }}
					<input type="submit" value="Update" class="btn
										btn-primary btn-sm font-weight-bold">
				</form>

			</div>
		</div>
	</div>

{% endblock %}