{% extends 'cars/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
	<div class="container pt-5">
		<div class="row">
			<div class="col d-flex flex-column justify-content-center align-items-center">
				<h4 class="d-inline-block py-4">
					Fillups for {{ car }}, model year {{ car.year }} (id:
					{{ car.id }})
				</h4>

				{#			Message for fillup update#}
				{% if messages %}
					<div class="d-block justify-content-center align-items-center"
					     style="height: 30px">
						{% for message in messages %}
							{{ message }}
						{% endfor %}
					</div>
				{% endif %}
				<table class="table table-sm table-hover">
					<thead>
					<tr>
						<th scope="col">Date</th>
						<th scope="col">Volume</th>
						<th scope="col">Price</th>
						<th scope="col">Total</th>
						<th scope="col">Full</th>
						<th scope="col">Odometer</th>
						<th scope="col">Actions</th>
					</tr>
					</thead>

					<tbody>
					{% if fillups %}
						{% for fillup in fillups %}
							<tr>
								<td>{{ fillup.date|date:'d-M-Y' }}</td>
								<td>{{ fillup.volume }}</td>
								<td>{{ fillup.price_per_unit }}</td>
								<td>{{ fillup.total_price }}</td>
								<td>{{ fillup.full_tank|yesno:'Yes,No' }}</td>
								<td>{{ fillup.odometer }}</td>
								<td class="d-flex">
									<a href="{% url 'cars:fillups:update_fillup' car.id fillup.id %}"
									   class="mr-2">
										<span class="btn btn-primary btn-sm font-weight-bold">Edit</span>
									</a>
									<form method="POST" action="{% url 'cars:fillups:delete_fillup' car.id fillup.id %}">
										{% csrf_token %}
										<input type="submit" value="Delete" class="btn
										btn-primary btn-sm font-weight-bold">
									</form>
								</td>
							</tr>
						{% endfor %}
					{% else %}
						<tr>
							<td colspan="8" class="text-center"> No fillups yet</td>
						</tr>
					{% endif %}
					</tbody>
				</table>

				<form action="{% url 'cars:fillups:add_fillup' car.id %}" method="POST">
					{% csrf_token %}
					{% crispy form %}
				</form>
				<br>
				<a href="{% url 'cars:list' %}">
					<span class="badge badge-primary p-2">Back to cars</span>
				</a>
			</div>
		</div>
	</div>
{% endblock %}